menu "Espressif USB OTBR"
    menu "USB netif ip info configuration"
        config USB_NETIF_IP
            string "USB netif IP"
            default "192.168.168.249"
            help
                USB netif ip info configuration IP.
        config USB_NETIF_GATEWAY
            string "USB netif gateway"
            default "192.168.168.252"
            help
                USB netif ip info configuration gateway.
        config USB_NETIF_NETMASK
            string "USB netif netmask"
            default "255.255.255.0"
            help
                USB netif ip info configuration netmask.
    endmenu
endmenu 
